h1{
  text-align: center;
}
.btn{
  text-align: center;
}
.btn button{
  font-size: 20px;
}
table , td, th {
	border: 3px solid black;
	border-collapse: collapse;
  margin: 0 auto;
}
.message{
  text-align: center;
}

td, th {
	padding: 3px;
	width: 150px;
	height: 150px;
  text-align:center;
}
p{
  text-align:center;
}
.board{
  text-align:center;
}
.board td{
  font-size: 100px;
}

.message p{
  font-size: 25px;
}

.link {
  text-align: center;
}

form {
  text-align: center;
  padding-bottom: 5px;
}